.bab	{font-size: 80px;
		font-style: bold;
		font-family:  "Calibri";
		color: white;
		text-align: center;
}
.judul	{font-style: bold; 
		font-size: 40px ;
		font-family : "Calibri";
		color: rgb(177, 244, 221);
		text-align: left;
}

.cerita {font-size: 20px ;
		font-family : "Calibri";
		color:white;
		text-align: justify;
}
.quote	{font-style: bold;
		font-size: 20px	;
		font-family : monospace;
		background-color:rgb(177, 244, 221);
		text-align: center;
}
body {background-color: rgb(63, 74, 71);
}
